{% extends 'base.html.twig' %}

{% block title %}Edit Line{% endblock %}

{% block body %}
    <h1>Edit Line</h1>

    {{ include('line/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_line_index') }}">back to list</a>

    {{ include('line/_delete_form.html.twig') }}
{% endblock %}
