{% extends 'base.html.twig' %}

{% block title %}New Line
{% endblock %}

{% block body %}
	<h1>Create new Line</h1>

	{{ include('line/_form.html.twig') }}

	{# <a href="{{ path('app_line_index') }}">back to list</a> #}
{% endblock %}
