body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

nav {
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #852020;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    color: #ff9000;
  }
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  color: #333;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3;
}

.search-input {
  width: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s, opacity 0.3s;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.search-container:hover .search-icon {
  transform: scale(1.1);
}

.search-container:hover .search-input {
  width: 250px;
  opacity: 1;
}

li {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.task-list-selection {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  transition: 0.5s linear;

  &:hover {
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.5);
  }
}

.img-titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

img {
  width: 40%;
}

h1 {
  font-size: 40px;
  text-align: center;
  transition: font-size 1s ease;

  &:hover {
    font-size: 50px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#new-task-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
}

.add-task-btn {
  width: 20%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0057b3;
  }
}

.tasks-list-ul {
  list-style: none;
  padding: 0;
}

.tasks-list-ul .completed {
  text-decoration: line-through;
  color: #0ecf48;
}

.tasks-list-ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #ff4545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: auto;
  &:hover {
    background-color: #852020;
  }
}

.grafico-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 500px;
}

/* PARA ERRORS.JS */
.errors {
  background-color: #ff4545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 0.4rem;
}

.imprimir-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0057b3;
  }
}

.generar-evento-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0057b3;
  }
}
