{% extends 'base.html.twig' %}

{% block title %}New Foro{% endblock %}

{% block body %}
    <h1>Create new Foro</h1>

    {{ include('foro/_form.html.twig') }}

    <a href="{{ path('app_foro_index') }}">back to list</a>
{% endblock %}
