h1 {
  margin: 0px;
  text-align: center;
}

label,
input {
  display: block;
}

legend {
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.fs1 {
  background-color: #dcbeed;
}

.fs2 {
  background-color: #f2c7aa;
}

.fs3 {
  background-color: rgba(217, 100, 100, 0.823);
}

.column {
  float: left;
  margin-right: 20px;
}

.column2 {
  float: left;
  margin-right: 80px;
}

.row {
  float: left;
  margin-right: 20px;
}

.row2 {
  display: flex;
  flex-wrap: nowrap;
}

.flex-cointainer > div {
}
