h1 {
  margin: 0px;
  text-align: center;
}

legend {
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.fs1 {
  background-color: #dcbeed;
}

.fs2 {
  background-color: #f2c7aa;
}

.fs3 {
  background-color: rgba(217, 100, 100, 0.823);
}

.block {
  display: block;
}

.column {
  float: left;
  margin-right: 20px;
  display: block;
}

.column2 {
  float: left;
  margin-right: 78px;
}

.row {
  float: left;
  margin-right: 20px;
}

.m1 {
  margin-right: 90px;
}
