*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}

.layout {
  display: grid;
  grid-template-columns: 17rem 1fr;
  grid-template-rows: 4rem 1fr 5rem;
  min-height: 100vh;
  max-width: 100vw;
}

.header {
  background-color: rgb(31 41 55);
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-end;
  max-width: 100vw;
  padding: 1.25rem 5rem;
}

.aside {
  display: flex;
  color: rgb(203 213 225);
  padding: 3.2rem 0;
  background-color: rgb(31 41 55);
  border: 1px solid rgb(55 65 81);
  gap: 3.2rem;
  flex-direction: column;
  align-items: center;
  grid-row: 1/-1;
}

.main {
  background-color: rgb(17 24 39);
  overflow-y: auto;
  max-width: 100vw;
}

.footer {
  color: rgb(209 213 219);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 5rem 0.5rem;
  background-color: rgb(31 41 55);
  border: 1px solid rgb(55 65 81);
  gap: 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  display: flex;
}

.article-layout {
  padding: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.2rem;
  display: grid;
}

.article {
  color: rgb(209 213 219);
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(30 41 59);

  border: 1px solid (rgb(55 65 81));
  border-radius: 0.75rem;
  gap: 0.75rem;
  flex-direction: column;
  display: flex;
}

.shopping-cart {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  padding: 1rem;
  color: rgb(202 138 4);
  text &:hover {
    cursor: pointer;
  }
}

.user-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(203 213 225);
}

.user-image {
  display: block;
  width: 2.5rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #d1d5db;
}

.header-menu {
  gap: 0.5rem;
  color: #4f46e5;
  display: flex;
  list-style: none;
}

.header-element:hover {
  cursor: pointer;
}

.aside-img {
  height: 9rem;
  width: auto;
}

.aside-ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
}

.aside-li {
  list-style: none;
  &:hover {
    cursor: pointer;
    color: rgb(96 165 250);
  }
}
