/* body {
  display: flex;
} */

div {
  width: 250px;
  margin: 20px;
  background-color: #ffb6c1;
  border-top: 15px dotted #dc143c;
  border-right: 10px dashed green;
  border-bottom: 10px double #ff00ff;
  border-left: 40px ridge #2f4f4f;
}
