body {
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
}

p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.topul {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #b6b4b4;
  overflow: hidden
}

.bottomul {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b6b4b4;
}

.titulopositionrelative {
  position: relative;
  left: 20px;
}

.bluebackground {
  background-color: #35dee7a3;
  
}

.pinkbackground {
  background-color: #f6b69b;
}

.rectangle1 {
  height: 200px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.rectangle2 {
  height: 1000px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.square1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  top: 50px;
  left: 80px;
  z-index: 1;
}

.square2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  top: 30px;
  left: 100px;
}
