.aside {
  display: flex;
  color: $font-color;
  padding: 3.2rem 0;
  background-color: $color-light;
  border: 1px solid $border-color;
  gap: 3.2rem;
  flex-direction: column;
  align-items: center;
  grid-row: 1/-1;
}

.aside-img {
  height: 9rem;
  width: auto;
}

.aside-ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
}

.aside-li {
  list-style: none;
  &:hover {
    cursor: pointer;
    color: $hover-color;
  }
}
