$color-light: rgb(31 41 55);
$color-main: rgb(17 24 39);
$color-card: rgb(30 41 59);
$icon-color: rgb(202 138 4);
$user-icon-color: #4f46e5;
$border-color: rgb(55 65 81);
$font-color: rgb(209 213 219);
$hover-color: rgb(96 165 250);
