.container {
    margin: 100px auto;
    width: 60vw;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.blue {
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: aquamarine;
    border: 1px solid black;
}

.red {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: coral;
    border: 1px solid black;
}

.yellow {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: yellowgreen;
    border: 1px solid black;
}
