header {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: medium;
  padding: 10px 0 10px 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  color: #111;
}

li a:hover {
  background-color: #111;
}

.border {
  border: 1px solid #333;
  border-right: none;
  padding: 10px;
  margin: 10px;
}

.border1 {
  border: 1px solid #333;
}
