{% extends 'base.html.twig' %}

{% block title %}Pokedex index{% endblock %}

{% block body %}
    <h1>Pokedex index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokedex in pokedexes %}
            <tr>
                <td>{{ pokedex.id }}</td>
                <td>
                    <a href="{{ path('app_pokedex_show', {'id': pokedex.id}) }}">show</a>
                    <a href="{{ path('app_pokedex_edit', {'id': pokedex.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pokedex_new') }}">Create new</a>
{% endblock %}
