{% extends 'base.html.twig' %}

{% block title %}New Tema{% endblock %}

{% block body %}
    <h1>Create new Tema</h1>

    {{ include('tema/_form.html.twig') }}

    <a href="{{ path('app_tema_index') }}">back to list</a>
{% endblock %}
